{{ stage('Create SQL Audit') }}

  CREATE OR REPLACE TABLE {{ ref_no_link(node.location.name, node.name) }}
(
	{% for col in columns %}
		"{{ col.name }}" {{ col.dataType }}
		{%- if not loop.last -%}, {% endif %}
	{% endfor %}
)