{{ node.override.create.script }}

{{ stage('Create Stage Table') }}

CREATE OR REPLACE RESOURCE MONITOR {{ node.name }} 
{%- if node.description | length > 0 %}  WITH COMMENT = '{{ node.description | escape }}'{% endif %}
WITH
{%- if config.creditQuota | length > 0 %} CREDIT_QUOTA = {{ config.creditQuota }} {% endif %}
{%- if config.setFrequency -%}
    {%- if config.frequency | length > 0 %} FREQUENCY = {{ config.frequency }} {% endif %}
    {%- if config.startTimestamp | length > 0 %} START_TIMESTAMP = {{ config.startTimestamp }} {% endif %}
{%- endif -%}
;