{% set is_fk = columns | selectattr("isForeignKey") | list | length > 0 %}

{% if node.materializationType == 'table' %}
	{{ stage('Create Dimension Table') }}

	CREATE OR REPLACE TABLE {{ ref_no_link(node.location.name, node.name) }}
	(
		{% for col in columns %}
			"{{ col.name }}" {{ col.dataType }}
			{% if col.isSurrogateKey %}
		        identity
			{% endif %}
			{%- if not col.nullable %} NOT NULL
				{%- if col.defaultValue | length > 0 %} DEFAULT {{ col.defaultValue }}{% endif %}
			{% endif %}
			{%- if col.description | length > 0 %} COMMENT '{{ col.description | escape }}'{% endif %}
			,
		{% endfor %}
		CONSTRAINT pkey PRIMARY KEY (
        {% for col in columns if col.isPrimaryKey -%}
             "{{ col.name }}"
             {% if not loop.last %}, {% endif %}
        {% endfor %}
        ) NOT ENFORCED
        {% if is_fk %}
            , CONSTRAINT fkey FOREIGN KEY ( 
            {% for col in columns if col.isForeignKey -%}
                "{{ col.name }}"
                {% if not loop.last %}, {% endif %}
            {% endfor %}
            ) REFERENCES {{ config.isForeignKeyRef }} NOT ENFORCED
        {% endif %}
	)
	{%- if node.description | length > 0 %} COMMENT = '{{ node.description | escape }}'{% endif %}


{% elif node.materializationType == 'view' %}
	{{ stage('Create Dimension View') }}

	CREATE OR REPLACE VIEW {{ ref_no_link(node.location.name, node.name) }}
	(
		{% for col in columns %}
			"{{ col.name }}"
			{%- if col.description | length > 0 %} COMMENT '{{ col.description | escape }}'{% endif %}
			{%- if not loop.last -%},{% endif %}
		{% endfor %}
	)
	{%- if node.description | length > 0 %} COMMENT = '{{ node.description | escape }}'{% endif %}
	AS
	{% for source in sources %}

		{% if loop.first %}SELECT {% endif %}

		{% for col in source.columns %}
			{% if col.isSurrogateKey or col.isSystemUpdateDate or col.isSystemCreateDate %}
                NULL
			{% else %}
                {{ get_source_transform(col) }}
			{% endif %}
			AS "{{ col.name }}"
			{%- if not loop.last -%}, {% endif %}
		{% endfor %}
		{{ source.join }}

		{% if not loop.last %} UNION ALL {% endif %}
	{% endfor %}

{% endif %}
