{% if config.preSQL %}
    {{ stage('Pre-SQL') }}
    {{ config.preSQL }}

{% endif %}

{% for test in node.tests if config.testsEnabled %}
  {% if test.runOrder == 'Before' %}
    {{ test_stage(test.name, test.continueOnFailure) }}
    {{ test.templateString }}
  {% endif %}
{% endfor %}

{% for source in sources %}
            
    {{ stage('INSERT INTO CTE - ' ~ source.name) }}
  

    INSERT INTO {{ ref_no_link(node.location.name, node.name) }}
    

SELECT 
{% for col in source.columns %}
  "SRC"."{{ col.name }}"
  {%- if not loop.last -%}, {% endif %}
{% endfor %}
FROM (SELECT
    {% for col in source.columns %}
      "{{ col.name }}"
      {%- if not loop.last -%}, {% endif %}
      {%- if loop.last -%}, 
      MAX("{{ datavault4coalesce.config.ldts_alias }}") OVER (PARTITION BY 
        {%- for col in source.columns if col.is_pt_col -%}
          {%- if not loop.first -%}, {% endif %} 
          "{{ col.name }}"
        {% endfor %}) AS "MAX_LOAD_DATE" 
      {% endif %}
    {% endfor %}
    {{ source.join }}) AS "SRC"
    WHERE "SRC"."{{ datavault4coalesce.config.ldts_alias }}" = "SRC"."MAX_LOAD_DATE"

{% endfor %}

{% if config.postSQL %}
    {{ stage('Post-SQL') }}
    {{ config.postSQL }}    
{% endif %}

{% if config.testsEnabled %}
  {% for test in node.tests %}
    {% if test.runOrder == 'After' %}
      {{ test_stage(test.name, test.continueOnFailure) }}
      {{ test.templateString }}
        {% endif %}
  {% endfor %}

  {% for column in columns %}
    {% for test in column.tests %}
      {{ test_stage(column.name + ": " + test.name) }}
      {{ test.templateString }}
    {% endfor %}
  {% endfor %}
{% endif %}