{{ stage('Create View') }}

CREATE OR REPLACE VIEW {{ ref_no_link(node.location.name, node.name) }}
(
    {% for col in columns %}
        "{{ col.name }}"
        {%- if not loop.last -%}, {% endif %}
        {%- if col.description | length > 0 %} COMMENT '{{ col.description }}'{% endif %}
    {% endfor %}
)
{%- if node.description | length > 0 %} COMMENT = '{{ node.description }}'{% endif %}
AS
{% for source in sources %}
    SELECT {% if config.selectDistinct %} DISTINCT {% endif %}
    {% for col in source.columns %}
        {{ get_source_transform(col) }} AS "{{ col.name }}"
        {%- if not loop.last -%}, {% endif %}
    {% endfor %}
    
    {{ source.join }}
    QUALIFY 1 = ROW_NUMBER() 
            OVER (PARTITION BY 
                {% for col in source.columns if col.isSatKey %}
                    {{ get_source_transform(col) }}
                    {% if not loop.last %},{% endif %}
                {% endfor %}
 
                ORDER BY 
                {% for col in source.columns if col.isDateColumn %}
                    {{ get_source_transform(col) }}
                    {% if not loop.last %},{% endif %}
                {% endfor %}
                 DESC)

{% endfor %}