{% if config.truncateBefore %}
    {{ stage('Truncate Stage Table') }}
    TRUNCATE IF EXISTS {{ ref_no_link(node.location.name, node.name) }}
{% endif %}
{% for sourceMapping in storageLocations if sourceMapping.name.startswith(config.storageLocationSearchText) %}
    {% if node.materializationType == 'table' %}
        {% if config.preSQL %}
            {{ stage('Pre-SQL') }}
            {{ config.preSQL }}
        {% endif %}
            {% if config.insertStrategy in ['UNION', 'UNION ALL'] %}
                {{ stage( config.insertStrategy + ' Sources' | string ) }}
                INSERT INTO {{ ref_no_link(node.location.name, node.name) }}
                    (
                        {% for col in columns %}
                            "{{ col.name }}"
                            {%- if not loop.last -%},{% endif %}
                        {% endfor %}
                    )
            {% endif %}
            {% for source in sources %}
                {% if config.insertStrategy == 'INSERT' %}
                    {{ stage('Insert ' +  sourceMapping.name + '_' + source.name | string ) }}
                    INSERT INTO {{ ref_no_link(node.location.name, node.name) }}
                    (
                        {% for col in source.columns %}
                            "{{ col.name }}"
                            {%- if not loop.last -%},{% endif %}
                        {% endfor %}
                    )
                {% endif %}
                SELECT
                {% for col in source.columns %}
                    {% if col.isSystemSource %}
                        '{{ sourceMapping.name }}'
                    {% else %}
                        {{ get_source_transform(col) }}
                    {% endif %}
                    AS "{{ col.name }}"
                    {%- if not loop.last -%}, {% endif %}
                {% endfor %}
                FROM {{ ref(sourceMapping.name, sources[0].columns[0].sourceColumns[0].node.name )}}
                {% if config.insertStrategy in ['UNION', 'UNION ALL'] and not loop.last %}
                    {{config.insertStrategy}}
                {% endif %}
            {% endfor %}
        {% if config.postSQL %}
            {{ stage('Post-SQL') }}
            {{ config.postSQL }}
        {% endif %}
    {% endif %}
{% endfor %}